* {
    margin: 0;
    padding: 0;
}

.container{
    
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;  
    background-color: #bebebe;
}
.container h1{
    text-align: center;
    margin-top: 51px;
    color: #4f4d5c;
    margin-bottom: -36px
}

.form{
    
    width: 380px;
    height: 285px;
    position: relative;
    margin: 6% auto;
    background: #ddd;
    padding: 5px;
    background-position: center;
    border-radius: 33px;
  
}
.form h2{
    text-align: center;
}
.form_Design{
    width: 100%;
    margin-left: 68px;
    margin-top: 20px;
}
.form_Design label p{
    margin-bottom: -9px;
}
.form_Design input{
    width: 244px;
    height: 20px;
    position: relative;
    border: 2px solid #dad1d1;
}
.chech-box{
    margin-left: 68px;
     margin-top: 20px;
}
.checkbox1 p{
    margin-left: 95px;
    margin-top: -20px;
    
}
.checkbox1 button{
    margin-left: 68px;
    margin-top: 20px;
    height: 28px;
    width: 87px;
    background-color: #4f4d5c;
    color: white;
}

